:root {
  --basic-red: #FB565A;
  --red1: #E74246;
  --red2: #D7373B;
  --basic-green: #00CA74;
  --green1: #00AA62;
  --green2: #00BC6C;
  --basic-yellow: #EFC84A;
  --yellow1: #E5A722;
  --yellow2: #EAB534;
  --basic-grey: #00CA74;
  --basic-light-grey: #EEEEEE;
  --grey1: #E1E1E1;
  --grey2: #B4B9BB;
  --grey3: #D5D5D5;
  --grey4: #D7DCDE;
  --grey5: #DFDFDF;
  --grey6: #666666;
  --grey7: #DBDBDB;
  --grey8: #C1C1C1;
  --grey9: #C4C4C4;
  --grey10: #ababab;
  --basic-white: #ffffff;
  --basic-light-black: #444444;
  --basic-dark-black: #000000;
  --basic-black: #283136;
  --black1: #4D4D4D;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  min-width: 1178px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: normal;
  color: var(--basic-black);
}

.page {
  height: 100%;
}

.body-page {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 10px;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.main-navigation {
  background-color: var(--basic-light-grey);
}

.main-navigation-inner {
  font-size: 16px;
  color: var(--basic-dark-black);
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 49px 0 0 0;
  width: 1158px;
  margin: 0 auto;
  justify-content: space-between;
}

.basket {
  position: relative;
  max-width: 140px;
  padding-left: 25px;
  margin-top: 25px
}

.basket::before {
  content: "";
  position: absolute;
  top: 30px;
  left: -25px;
  width: 15px;
  height: 15px;
  background-image: url(../img/cart-icon.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  display: block;
}

.logo {
  width: 160px;
  height: 65px;
}

.logo:active {
  opacity: 0.5;
}

.nav-list-main {
  list-style: none;
  margin: 0 200px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-grow: 1;
  width: 560px;
}

.nav-list a {
  color: var(--basic-dark-black);
  display: block;
  padding: 25px 0;
}

.nav-item {
  padding: 0;
  margin: 25px 10px 0;
}

.nav-list a:focus,
.nav-list a:hover {
  color: var(--basic-red);
}

.nav-list a:active {
  color: var(--basic-dark-black);
  opacity: 0.3;
}

.nav-item-current {
  position: relative;
}

.nav-item-current a::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  background-color: var(--basic-red);
  bottom: 0;
}

.common-slider {
  background-color: var(--basic-light-grey);
}

.slider-wrapper {
  background-repeat: no-repeat;
  margin-bottom: 80px;
  background-position: right center;
  position: relative;
  min-height: 431px;
}

.slider-wrapper::after {
  content: "";
  display: block;
  height: 1px;
  background-color: var(--grey9);
  margin-top: 100px;
}

.slider-wrapper-1 {
  background-image: url(../img/nerds-index-slide1-1.png);
}

.slider-wrapper-2 {
  background-image: url(../img/nerds-index-slide2-1.png);
}

.slider-wrapper-3 {
  background-image: url(../img/nerds-index-slide3-1.png);
}

.slider {
  position: relative;
  top: 80px;
}

.slide-list {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.slide {
  width: 538px;
  position: relative;
  display: none;
  margin: 0;
  padding: 0;
}

.slide-current {
  display: block;
}

.slide-title {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: var(--basic-dark-black);
  margin: 0px;
  margin-bottom: 25px;
  padding: 0px;
}

.slide p {
  margin: 0;
  padding: 0;
  margin-bottom: 38px;
}

.slide-button {
  color: var(--basic-white);
  background-color: var(--basic-red);
  border-radius: 3px;
  padding: 15px 54px;
  font: inherit;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  vertical-align: middle;
  text-transform: uppercase;
  display: inline-block;
  cursor: pointer;
}

.slide-button:hover,
.slide-button:focus {
  background-color: var(--red1);
}

.slide-button:active {
  background-color: var(--red2);
  opacity: 0.3;
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.slider-controls {
  position: absolute;
  top: 240px;
  left: 536px;
  z-index: 10;
  display: flex;
  width: 88px;
  justify-content: space-between;
}

.slider-controls button {
  padding: 0;
  width: 18px;
  height: 18px;
  background-color: var(--basic-white);
  border-radius: 50%;
  border: 0;
  cursor: pointer;
}

.slider-controls .current {
  border: 5px solid white;
  box-shadow: inset 0 0 0 2px var(--grey8);
}

.suggestions::after {
  content: "";
  display: block;
  height: 2px;
  background-color: var(--basic-light-grey);
  margin-top: -35px;
  margin-bottom: 39px;
}

.suggestions-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.suggestions-item {
  text-align: left;
  width: 300px;
  margin-right: 100px;
  margin-bottom: 121px;
}

.suggestions-item h3 {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: var(--basic-dark-black);
}

.suggestions-item p {
  max-width: 260px;
}

.button-book {
  color: var(--basic-white);
  border-radius: 3px;
  padding: 17px 40px 15px 39px;
  font: inherit;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  vertical-align: middle;
  text-transform: uppercase;
  display: inline-block;
  cursor: pointer;
}

.booking-1:hover,
.booking-1:focus {
  background-color: var(--red1);
}

.booking-1:active {
  background-color: var(--red2);
  opacity: 0.3;
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.booking-2:hover,
.booking-2:focus {
  background-color: var(--green2);
}

.booking-2:active {
  background-color: var(--gren1);
  opacity: 0.3;
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.booking-3:hover,
.booking-3:focus {
  background-color: var(--yellow2);
}

.booking-3:active {
  background-color: var(--yellow1);
  opacity: 0.3;
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.booking-1 {
  background-color: var(--basic-red);
}

.booking-2 {
  background-color: var(--basic-green);
}

.booking-3 {
  background-color: var(--basic-yellow);
}

.about {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
}

.about::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: var(--basic-light-grey);
  bottom: -73px;
}

.information {
  margin-top: 34px;
  max-width: 651px;
}

.information-main {
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  color: var(--basic-dark-black);
  margin: 0;
  padding: 0;
}

.information-more {
  max-width: 646px;
}

.information .offers {
  text-transform: uppercase;
}

.offers-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.offers-item {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}

.offers-item::before {
  content: "";
  min-width: 25px;
  height: 2px;
  background-color: var(--basic-red);
  margin-right: 12px;
}

.intraduction {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  color: var(--basic-dark-black);
}

.statistics {
  max-width: 360px;
}

.statistics-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.statistics-list .number {
  font-weight: bold;
  font-size: 45px;
  line-height: 64px;
  color: var(--basic-dark-black);
  margin: 0;
  padding: 0;
}

.number sup {
  top: -15px;
  font-weight: bold;
  font-size: 26px;
  color: var(--basic-dark-black);
}

.statistics-list .description {
  line-height: 18px;
  margin: 0;
  padding: 0;
  max-width: 120px;
  text-align: left;
}

.clients-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  margin-top: 121px;
  margin-bottom: 126px;
  align-items: center;
}

.clients-item {
  width: 25%;
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 0;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.clients-item:not(:last-of-type)::after {
  content: "";
  width: 2px;
  height: 52px;
  display: block;
  position: absolute;
  left: 290px;
  background-color: var(--basic-light-grey);
}

.clients-item a {
  opacity: 0.2;
  display: block;
  margin: auto;
}

.clients-item a:hover,
.clients-item a:focus {
  opacity: 1;
}

.clients-item a:active {
  opacity: 0.1;
}

.clients {
  position: relative;
}

.clients::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: var(--basic-light-grey);
  bottom: -44px;
}

.map {
  position: relative;
}

.map-image {
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-image: url(../img/group-12.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
}

.map-image iframe {
  border: none;
  width: 100%;
}

.contacts {
  max-width: 319px;
  margin: 54px 0;
  padding: 50px;
  text-align: center;
  background-color: var(--basic-white);
  display: inline-block;
  z-index: 1;
  position: relative;
}

.contacts h2 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
}

.contacts p {
  line-height: 18px;
  color: var(--grey6);
}

.contacts a {
  color: var(--basic-white);
  background-color: var(--basic-red);
  border-radius: 3px;
  padding: 17px 44px 15px 44px;
  font: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  display: inline-block;
}

.contacts a:hover,
.contacts a:focus {
  background-color: var(--red1);
}

.contacts a:active {
  background-color: var(--red2);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.main-footer {
  display: flex;
  flex-wrap: wrap;
  width: 1158px;
  margin: 129px auto 68px;
  padding: 0 10px;
}

.social-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  width: 260px;
  margin-right: 139px;
}

.social-item a {
  display: flex;
  width: 81px;
  height: 81px;
  margin-right: 5px;
  border-radius: 50%;
  background-color: var(--grey1);
}

.facebook {
  padding: 31px 34px 28px 35px;
  margin: auto;
}

.Vkontakte {
  padding: 32px 27px 31px 25px;
  margin: auto;
}

.instagram {
  padding: 30px 30px 30px 30px;
  margin: auto;
}

.social-list a:hover,
.social-list a:focus {
  background-color: var(--red1);
}

.social-list a:active {
  background-color: var(--red2);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  opacity: 0.3;
}

.sale {
  font: inherit;
  text-align: left;
  max-width: 660px;
}

.sale h2 {
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  color: var(--basic-dark-black);
  margin: 0;
  padding: 0;
}

.sale p {
  color: var(--basic-light-black);
  line-height: 22px;
}

.appointment-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0px 100px 105px 99px;
}

.place {
  width: 360px;
  margin-top: 0;
  margin-bottom: 34px;
}

.connection {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  font: inherit;
  background-color: var(--basic-white);
  border: none;
  width: 960px;
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.4);
}

.connection-show {
  display: block;
  animation: bounce 0.6s;
  z-index: 10;
}

.connection-error {
  animation: shake 0.6s;
}

.connection-description h2 {
  font-weight: bold;
  color: var(--basic-dark-black);
  font-size: 45px;
  line-height: 53px;
  padding-top: 42px;
  padding-left: 99px;
  margin-bottom: 37px;
}

.connection label {
  display: block;
  margin-bottom: 9px;
  font-weight: bold;
  line-height: 18px;
  color: var(--basic-dark-black);
}

.place-textarea {
  width: 760px;
  margin-bottom: 47px;
}

.place input,
textarea {
  font: inherit;
  line-height: 18px;
  color: var(--basic-light-black);
  border: 2px solid;
  box-sizing: border-box;
  border-radius: 3px;
  border-color: var(--grey4);
  opacity: 0.5;
  padding: 16px;
  width: 100%;
}

.place input:hover,
textarea:hover {
  border-color: var(--grey2);
}

.place input:focus,
textarea:focus {
  border-color: var(--basic-dark-black);
  opacity: 1;
}

.place input:invalid {
  border-color: var(--red1);
  color: var(--red1);
  opacity: 1;
}

.connection .button {
  border: 0px;
  color: var(--basic-white);
  background-color: var(--basic-red);
  border-radius: 3px;
  padding: 17px 83px 15px 83px;
  font: inherit;
  text-align: center;
  font-weight: 500;
  line-height: 18px;
  text-transform: uppercase;
  display: inline-block;
  cursor: pointer;
}

.connection .button:hover,
.connection .button:focus {
  background-color: var(--red1);
}

.connection .button:active {
  background-color: var(--red2);
  opacity: 0.3;
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.connection-description {
  display: flex;
  justify-content: space-between;
}

a .cross {
  opacity: 0.3;
  display: block;
  padding: 93px 91px 0px 0px;
}

a:hover .cross,
a:focus .cross {
  opacity: 1;
}

a:active .cross {
  opacity: 0.1;
}

/* Стили для каталога*/
.page-title {
  background-color: var(--basic-light-grey);
}

.page-title-h1 {
  font-size: 55px;
  line-height: 1;
  color: var(--basic-dark-black);
  text-align: center;
  background-color: var(--basic-light-grey);
  margin: 0 auto;
  padding: 0;
  padding-top: 87px;
  padding-bottom: 108px;
}

.catalog-content {
  display: grid;
  grid-template-columns: 260px auto;
  gap: 140px;
}

legend,
.legend {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
}

.legend,
.filter-net {
  display: block;
  padding-top: 55px;
}

.sorting .legend {
  margin: 0;
  margin-right: 266px;
  margin-bottom: 48px;
}

.legend-features {
  padding-top: 43px;
}

.sorting {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.sorting ul,
.aside-bar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Плашка с бегунками*/
.filter-item {
  margin: 55px 0;
  padding: 0;
  border: none;
}

.range-filter {
  width: 260px;
  margin-top: 49px;
}

.filter-item legend {
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
  padding: 55px 0 0;
}

.range-controls {
  position: relative;
  height: 41px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: var(--basic-light-grey);
  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;
  background: var(--grey4);
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background: var(--basic-green);
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid var(--basic-white);
  background-color: var(--grey10);
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.15);
  ;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  display: flex;
  justify-content: space-between;
}

.price-controls label {
  text-transform: uppercase;
  font-family: inherit;
}

.price-controls input {
  width: 60px;
  padding: 10px;
  margin-left: 10px;
  text-align: center;
  border: none;
  border-radius: 5px;
  background-color: var(--basic-light-grey);
  font-family: inherit;
  font-size: inherit;
}

.net-item,
.features-item {
  padding: 15px 0 0 0;
  padding-left: 39px;
}

.filter ul {
  line-height: 19px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.features-item label,
.net-item label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}

.filter-input-checkbox+label::before {
  content: "";
  position: absolute;
  left: -36px;
  top: -2px;
  width: 19px;
  height: 19px;
  border: 2px solid var(--black1);
  border-radius: 2px;
  opacity: 0.4;
}

.filter-input-checkbox:checked+label::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -36px;
  width: 25px;
  height: 23px;
  border: none;
  background-image: url(../img/checkbox-on.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-radio+label::before {
  content: "";
  position: absolute;
  left: -38px;
  top: -1px;
  width: 17px;
  height: 17px;
  border: 4px solid var(--black1);
  border-radius: 50%;
  opacity: 0.4;
}

.filter-input-radio:checked+label::before {
  content: "";
  position: absolute;
  top: -1px;
  left: -38px;
  width: 25px;
  height: 25px;
  background-image: url(../img/radio-on.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  border: 0;
  opacity: 0.4;
}

.filter-input-checkbox:hover+label::before,
.filter-input-checkbox:focus+label::before,
.filter-input-radio:hover+label::before,
.filter-input-radio:focus+label::before {
  opacity: 1;
  color: var(--black1);
}

.filter-input-checkbox:disabled+label::before,
.filter-input-radio:disabled+label::before {
  opacity: 0.1;
  color: var(--black1);
}

.filter-input label:disabled {
  opacity: 0.3;
}

.filter button {
  border: 0px;
  border-radius: 3px;
  background-color: var(--basic-light-grey);
  color: var(--basic-dark-black);
  text-transform: uppercase;
  text-align: center;
  font: inherit;
  line-height: 18px;
  padding: 17px 89px 15px 88px;
  display: inline-block;
  margin-top: 48px;
  cursor: pointer;
}

.filter button:hover,
.filter button:focus {
  background-color: var(--grey5);
}

.filter button:active {
  background-color: var(--grey3);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.sorting-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.sorting-list a {
  color: var(--basic-dark-black);
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  opacity: 0.3;
  display: block;
}

.sorting-item {
  margin-right: 15px;
}

.sorting-list a:hover,
.sorting-list a:focus,
.sorting-item-add a:focus,
.sorting-item-add a:hover {
  opacity: 0.6;
}

.sorting-list a:active,
.sorting-item-add a:active {
  opacity: 1;
}

.rotate-image {
  transform: rotate(180deg);
}

.page-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 60px;
}

.page-item {
  margin-right: 11px;
}

.page-list a {
  color: var(--basic-dark-black);
  font: inherit;
  line-height: 18px;
  border-radius: 3px;
  background-color: var(--basic-light-grey);
  padding: 17px 20px 15px 20px;
  text-align: center;
  display: block;
}

.page-list .next {
  text-transform: uppercase;
  padding: 17px 77px 15px 78px;
}

.page-list a:hover,
.page-list a:focus {
  background-color: var(--grey5);
}

.page-list a:active {
  background-color: var(--grey3);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.page-item-current a,
.page-item-current:hover a,
.page-item-current:focus a,
.page-item-current:active a {
  box-sizing: border-box;
  border: 3px solid var(--grey7);
  background-color: var(--basic-white);
  display: block;
}

/*  Оформление карточек товара*/
.catalog {
  grid-column: -2 / -1;
}

.catalog-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.filter fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

.element {
  opacity: 0.12;
  margin: 0;
  display: block;
}

.catalog-item {
  max-width: 360px;
  margin-bottom: 30px;
  position: relative;
}

.catalog-item a {
  margin: 0px;
  display: block;
}

.common-element:hover img.element,
.common-element:focus img.element {
  opacity: 1;
}

.common-element {
  border-radius: 5px;
  width: 360px;
  display: block;
}

.shadow {
  position: relative;
  object-fit: contain;
}

.catalog-item .shadow::before {
  position: absolute;
  content: "";
  display: block;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  z-index: 100;
}

.catalog-item:hover .shadow::before,
.catalog-item:focus .shadow::before {
  display: none;
}

.common-element:focus,
.common-element:hover {
  box-shadow: 0px 6px 15px rgba(0, 1, 1, 0.25);
  border: 0;
  margin: 0;
}

.common-element:focus .card,
.common-element:hover .card {
  border: 0;
}

.catalog-item .card {
  height: 580px;
  display: block;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.common-element .announcement {
  position: absolute;
  bottom: 0;
  z-index: -10;
  width: 360px;
  min-height: 231px;
  text-align: center;
  background-color: var(--basic-light-grey);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.common-element:focus .announcement,
.common-element:hover .announcement {
  z-index: 10;
}

.announcement h4 {
  color: var(--basic-dark-black);
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
}

.announcement h4:hover,
.announcement h4:focus {
  color: var(--basic-red);
}

.announcement h4:active {
  color: var(--basic-dark-black);
  opacity: 0.3;
}

.announcement p {
  line-height: 18px;
  text-align: center;
  color: var(--grey6);
  max-width: 255px;
  margin: 0 auto 32px;
}

.announcement a:hover,
.announcement a:focus {
  z-index: 10;
}

.catalog-item .price {
  border: 0px;
  color: var(--basic-white);
  background-color: var(--basic-red);
  border-radius: 3px;
  padding: 17px 72px 15px 72px;
  font: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  display: table;
  margin: 0 auto;
}

.catalog-item .price:hover,
.catalog-item .price:focus {
  background-color: var(--red1);
}

.catalog-item .price:active {
  background-color: var(--red2);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

/* Animations */
@keyframes bounce {

  0% {
    transform: translate(24%, -80%);
  }

  70% {
    transform: translate(-14%, -20%);
  }

  100% {
    transform: translate(-50%, -50%);
  }
}

@keyframes shake {

  0%,
  100% {
    transform: translate(-52%, -50%);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translate(-48%, -50%);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translate(-50%, -50%);
  }
}
