
:root {
--basic-red: #FB565A;
--red1: #E74246;
--red2: #D7373B;
--basic-green: #00CA74;
--green1: #00AA62;
--green2: #00BC6C;
--basic-yellow: #EFC84A;
--yellow1: #E5A722;
--yellow2: #EAB534;

--basic-grey: #00CA74;
--basic-light-grey: #EEEEEE;
--grey1: #E1E1E1;
--grey2: #B4B9BB;
--grey3: #D5D5D5;
--grey4: #D7DCDE;
--grey5: #DFDFDF;
--grey6: #666666;
--grey7: #DBDBDB;
--basic-white: #ffffff;
--basic-light-black: #444444;
--basic-dark-black: #000000;
--basic-black: #283136;
--black1: #4D4D4D;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  min-width: 1178px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: normal;
  color: var(--basic-black);
}

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.main-header {

}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.main-navigation {
  font-size: 16px;
  line-height: 30px;
  color: var(--basic-dark-black);
  background-color: var(--basic-light-grey);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-navigation-wrapper {
 width: 100%;
}

.logo {
  width: 160px;
  height: 65px;
}
.logo:active {
  opacity: 0.5;
}

.nav-list {
 list-style: none;
}

.nav-list a:focus,
.nav-list a:hover {
  color: var(--basic-red);
}

.nav-list a:active {
  color: var(--basic-dark-black);
  opacity: 0.3;
}

/* Стиль для ссылок, на которых сейчас находишься.
 Пока не получается сделать красную полоску внизу */

.nav-item-current {
  padding: 25px 0 23px;
  border-bottom: 2px solid;
  border-bottom-color: var(--basic-red);
  width: 74px;
}



/*
.nav-item-current a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 2px;
  display: block;
  height: 2px;
  width: 100%;
  border-bottom: 2px solid;
  border-bottom-color: var(--basic-red);
}
*/
figure {
  background-color: var(--basic-light-grey);
  margin-top: 0px;
}

figcaption h3{
  font-size: 55px;
  line-height: 55px;
  color: var(--basic-dark-black);
}

figcaption a {
  color: var(--basic-white);
  background-color: var(--basic-red);
  border-radius: 3px;
  padding: 17px 54px 15px 54px;
  font: inherit;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  vertical-align: middle;
  text-transform: uppercase;
  display: block;
}

figcaption a:hover,
figcaption a:focus {
  background-color: var(--red1);
}

figcaption a:active {
  background-color: var(--red2);
  opacity: 0.3;
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.suggestions-list {
  list-style: none;
}

.suggestions-item{
text-align: left;
}

.suggestions-item h3 {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: var(--basic-dark-black);
}

.button-book {
  color: var(--basic-white);
  border-radius: 3px;
  padding: 17px 40px 15px 39px;
  font: inherit;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  vertical-align: middle;
  text-transform: uppercase;
  display: block;
}

.booking-1:hover,
.booking-1:focus {
  background-color: var(--red1);
}

.booking-1:active {
  background-color:  var(--red2);
  opacity: 0.3;
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.booking-2:hover,
.booking-2:focus {
  background-color: var(--green2);
}

.booking-2:active {
  background-color: var(--gren1);
  opacity: 0.3;
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.booking-3:hover,
.booking-3:focus {
  background-color: var(--yellow2);
}

.booking-3:active {
  background-color: var(--yellow1);
  opacity: 0.3;
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.booking-1 {
  background-color: var(--basic-red);
}

.booking-2 {
  background-color: var(--basic-green);
}

.booking-3 {
  background-color: var(--basic-yellow);
}

.information-main {
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  color: var(--basic-dark-black);
}

.information.offers {
 text-transform: uppercase;
}

.offers-list {
  list-style:none;
  list-style-image: url(img/Rectangle 12.svg) 25px 2px;
}

.intradaction {
 text-align: center;
text-transform: uppercase;
font-weight: bold;
color: var(--basic-dark-black);
}

.statistics-list {
  list-style:none;
}

.statistics-list .number {
  font-weight: bold;
  font-size: 45px;
  line-height: 64px;
  color: var(--basic-dark-black);
}

.number span {
  font-weight: bold;
  font-size: 26px;
  line-height: 40px;
  color: var(--basic-dark-black);
}

.statistics-list .description {
  line-height: 18px;
  text-align: left;
}

.clients-list {
  list-style: none;
}

.clients-item a {
  opacity: 0.2;
  display: block;
}

.clients-item a:hover,
.clients-item a:focus {
  opacity: 1;
}

.clients-item a:active {
  opacity: 0.1;
}
.contacts h2 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
}

.contacts p {
  line-height: 18px;
  color: var(--grey6);
}

.contacts a {
  color: var(--basic-white);
  background-color: var(--basic-red);
  border-radius: 3px;
  padding: 17px 44px 15px 44px;
  font: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  display: block;
}

.contacts a :hover,
.contacts a :focus {
  background-color: var(--red1);
}

.contacts a:active {
  background-color:  var(--red2);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.social-list {
 list-style: none;
 margin: 0;
 padding-left: 0;
}

.social-item a {
  display: flex;
  width: 81px;
  height: 81px;
  border-radius: 50%;
  background-color: var(--grey1);
}

.facebook {
  padding: 31px 34px 28px 35px;
  margin: auto;
}
.Vkontakte {
  padding: 32px 27px 31px 25px;
  margin: auto;
}
.instagram {
  padding: 30px 30px 30px 30px;
  margin: auto;
}

.social-list a:hover,
.social-list a:focus {
  background-color: var(--red1);
}

.social-list a:active {
  background-color:  var(--red2);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  opacity: 0.3;
}

.sale {
   font: inherit;
   text-align: left;
}
.sale h2 {
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  color: var(--basic-dark-black);
}

.sale p{
  color: var(--basic-light-black);
  line-height: 22px;
}

.connection {
  font: inherit;
  background-color: transparent;
  border: none;
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.4);
}

.connection h2 {
  font-weight: bold;
  color: var(--basic-dark-black);
  font-size: 45px;
  line-height: 53px;
}

.connection label {
  font-weight: bold;
  line-height: 18px;
  color: var(--basic-dark-black);
}

.place input,
textarea {
   font: inherit;
   line-height: 18px;
   color: var(--basic-light-black);
   border: 2px solid;
   box-sizing: border-box;
   border-radius: 3px;
   border-color: var(--grey4);
   opacity: 0.5;
}

.place input:hover,
textarea:hover {
  border-color: var(--grey2);
}

.place input:focus,
textarea:focus {
  border-color: var(--basic-dark-black);
  opacity: 1;
}

 .place input:invalid {
  border-color: var(--red1);
  color: var(--red1);
  opacity: 1;
}

.connection button {
  border: 0px;
  color: var(--basic-white);
  background-color: var(--basic-red);
  border: 0px;
  border-radius: 3px;
  padding: 17px 83px 15px 83px;
  font: inherit;
  text-align: center;
  font-weight: 500;
  line-height: 18px;
  text-transform: uppercase;
  display: block;
}

.connection button:hover,
.connection button:focus {
  background-color: var(--red1);
}

.connection button:active {
  background-color: var(--red2);
  opacity: 0.3;
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

/* Стили для каталога*/

h1 {
  font-size: 55px;
  line-height: 55px;
  color: var(--basic-dark-black);
  text-align: center;
}

legend,
.legend {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
}

.legend {
  display: block;
}

.sorting ul,
.main-aside ul {
   list-style: none;
}

/* Плашка с бегунками*/

.range {
  background-color: var(--basic-light-grey);
  border-radius: 3px;
  width: 260px;
  height: 80px;
}

.range .line-1 {
  background-color: var(--grey4);
  top: 39px;
  margin-left: 33px;
  position: relative;
  width: 205px;
  height: 2px;
}

.line-1 .line-2 {
  background-color: var(--basic-green);
  position: absolute;
  width: 138px;
  height: 2px;
}

.point-left,
.point-right {
  style: none;
  border-radius: 50%;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.15);
}

.point-left .ellipse-1 {
  position: absolute;
  margin-left: -20px;
  margin-top: -9px;
  background-color: transparent;
}

.point-right .ellipse-2 {
  position: absolute;
  margin-left: 130px;
  margin-top: -9px;
  background-color: transparent;
}

.filter ul {
  line-height: 19px;
}

.filter-input {
  opacity: 0.4;
  color: var(--black1);
}

.filter-input:hover {
  opacity: 1;
  color: var(--black1);
}

.filter-input:disabled {
  opacity: 0.1;
  color: var(--black1);
}

.filter-input label:disabled {
  opacity: 0.3;
}

.filter button {
 border: 0px;
 border-radius: 3px;
 background-color: var(--basic-light-grey);
 color: var(--basic-dark-black);
 text-transform: uppercase;
 text-align: center;
 font: inherit;
 line-height: 18px;
 padding: 17px 89px 15px 88px;
 display: block;
}

.filter button:hover,
.filter button:focus {
  background-color: var(--grey5);
}

.filter button:active {
  background-color: var(--grey3);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.sorting-list {
  list-style: none;
}

.sorting-list a {
  color: var(--basic-dark-black);
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  opacity: 0.3;
  display: block;
}

.sorting-list a:hover,
.sorting-list a:focus,
.sorting-item-add a:focus,
.sorting-item-add a:hover {
  opacity: 0.6;
}

.sorting-list a:active,
.sorting-item-add a:active {
  opacity: 1;
}

.rotate-image {
    transform: rotate(180deg);
   }

.page-list {
  list-style:none;
}

.page-list a{
  color: var(--basic-dark-black);
  font: inherit;
  line-height: 18px;
  border-radius: 3px;
  background-color: var(--basic-light-grey);
  padding: 17px 20px 15px 20px;
  text-align: center;
  display: block;
}

.page-list.next {
  text-transform: uppercase;
  padding: 17px 77px 15px 78px;
}

.page-list a:hover,
.page-list a:focus {
  background-color: var(--grey5);
}

.page-list a:active {
  background-color: var(--grey3);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.page-item-current a,
.page-item-current a:hover,
.page-item-current a:focus,
.page-item-current a:active {
  box-sizing: border-box;
  border: 3px solid var(--grey7);
  background-color: rgba(0, 0, 0, 0.0001);
  display: block;
}

  /*  Оформление карточек товара*/

.catalog-list {
    list-style: none;
  }

.element {
  opacity: 0.12;
  margin-bottom: 0;
  display: block;
}

.catalog-item a {
  border: 1px solid rgba(8, 8, 8, 0.1);
  box-sizing: border-box;
  background-color: #888888;
  margin-top: 0px;
  display: block;
}

.catalog-item:hover img.element,
.catalog-item:focus img.element {
opacity: 1;
}

.common-element {
  border-radius: 5px;
}

.common-element:focus,
.common-element:hover {
  border: 0px;
  box-shadow: 0px 6px 15px rgba(0, 1, 1, 0.25);
  opacity: 1;
}

.catalog-item .announcement {
  background-color: var(--basic-light-grey);
}

.announcement h4 {
  color: var(--basic-dark-black);
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
}

.announcement a:hover,
.announcement a:focus {
  color: var(--basic-red);
}

.announcement a:focus {
  color: var(--basic-dark-black);
  opacity: 0.3;
}

.announcement p {
  line-height: 18px;
  text-align: center;
  color: var(--grey6);
}

.catalog-item button {
  border: 0px;
  color: var(--basic-white);
  background-color: var(--basic-red);
  border-radius: 3px;
  padding: 17px 72px 15px 72px;
  font: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
}

.catalog-item button:hover,
.catalog-item button:focus {
  background-color: var(--red1);
}

.catalog-item button:active {
  background-color: var(--red2);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}
